{{ asset_add("styles.css", "anomaly.field_type.icon::scss/icons.scss", ["min"]) }}
{{ asset_add("styles.css", "anomaly.field_type.icon::scss/choices.scss", ["min"]) }}
{{ asset_add("scripts.js", "anomaly.field_type.icon::js/choices.min.js", ["min"]) }}
{{ asset_add("scripts.js", "anomaly.field_type.icon::js/search.js", ["min"]) }}

<select
        data-search
        name="{{ field_type.input_name }}"
        {{ html_attributes(field_type.attributes) }}
        {{ field_type.disabled ? 'disabled' }}
        {{ field_type.readonly ? 'readonly' }}>

    {#{% if field_type.placeholder %}#}
        {#<option value="">{{ trans(field_type.placeholder) }}</option>#}
    {#{% endif %}#}

    {% for value, option in field_type.options %}
        <optgroup label="{{ trans(value) }}">
            {% for value, option in option %}
                <option value="{{ value }}" {{ value == field_type.value ? 'selected' }}>
                    {{ option }}
                </option>
            {% endfor %}
        </optgroup>
    {% endfor %}

</select>
